@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/*

Okay so, this CSS is the ugliest most disgusting CSS 
you will ever lay your eyes upon. 
but i stole the navbar function from the same website 
as the home page. 
and when i looked at the css. 
i saw this 
and it 
was horrible 
and i was going to rebuild it 
with flex or grid 
and not use transform
but I am just going to see 
how far I can get  
without the position absolute fuking me. 

⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿ ⣿⣿⣿⣿⣿⣿⢿⣿⣿⣿⣿
⣿⣿⣿⣿⠉⠉⠉⠹⠛⠛⠋⠉⠙⠛⠛⠛⠛⠛ ⠿⠿⠿⠿⠋⠀⣿⣿⣿⣿
⣿⣿⣿⣿⣤⣤⣄⣀⣀⣀⠀⠀⠀⠀⠀⠀⣀⣀⣀⣀⣠⣤⣤⣤⣤⣤⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿



ALSO DONT TRY AND AND OPEN THIS ON A SMALL SCREEN CUZ FUK U I DONT WANT TO DO
RESPONSIVE STUFF RN 
*/
:root {
    /*Color Pallet */

    --dblue: #0066E7;
    --lblue: #1ba4ff;
    --yellow: #FFE135;
    --orange: #F18009;
    --red: #D4070F;
    --dred: #C60012;
    --grey: #272727;
    --white: rgb(226, 225, 225);
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: #272727;
    font-family: 'Press Start 2P',
        cursive;
}

.navMenu {
    position: absolute;
    top: 2.5em;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
}

.navMenu a {
    color: #f6f4e6;
    text-decoration: none;
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: 500;
    display: inline-block;
    width: 80px;
    text-align: center;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.navMenu a:nth-child(1):hover {
    color: var(--white);
}

.navMenu a:nth-child(2):hover {
    color: var(--lblue);
}

.navMenu a:nth-child(3):hover {
    color: var(--red);
}

.navMenu a:nth-child(4):hover {
    color: var(--yellow);
}

.navMenu .dot {
    width: 10px;
    height: 10px;
    background: var(--yellow);
    border-radius: 50%;
    opacity: 0;
    -webkit-transform: translateX(40px);
    transform: translateX(40px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}


.navMenu a:nth-child(1):hover~.dot {
    background: var(--white);
    -webkit-transform: translateX(40px);
    transform: translateX(40px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;

}

.navMenu a:nth-child(2):hover~.dot {
    background: var(--red);
    -webkit-transform: translateX(135px);
    transform: translateX(135px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
}

.navMenu a:nth-child(3):hover~.dot {
    background: var(--yellow);
    -webkit-transform: translateX(235px);
    transform: translateX(235px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
}

.navMenu a:nth-child(4):hover~.dot {

    background: var(--dblue);
    -webkit-transform: translateX(325px);
    transform: translateX(325px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
}

#line {
    transform: translateY(70px);
    border-radius: 20px;
}

h1 {
    color: var(--white);
    margin-top: 100px;
    text-align: center;
}

p {
    margin: 30px;
    text-align: center;
    transform: translateY(200px);
}

h1 {
    font-family: 'Press Start 2P',
        cursive;
    position: absolute;
    height: 90px;
    color: #fff;
    width: 100%;
    text-align: center;
    /* margin: auto; */
    font-size: 30px;
    line-height: 40px;
    letter-spacing: 5px;
    text-shadow: -2px 0 0 #fdff2a, -4px 0 0 #df4a42, 2px 0 0 #91fcfe, 4px 0 0 #4405fc;
}

#one {
    color: var(--dblue);
}

#one:hover {
    color: white;
}

#two {
    color: var(--lblue);
}

#two:hover {
    color: white;
}

#three {
    color: var(--yellow);
}

#three:hover {
    color: white;
}

#four {
    color: var(--orange);
}

#four:hover {
    color: white;
}

#five {
    color: var(--red);
}

#five:hover {
    color: white;
}

.photos {
    transform: translateY(235px);
}

.gitHub {
    transform: translateX(100%);
    width: 22%;
}

.instagram {
    transform: translateX(80%);
    width: 22%;
}

.discord {
    transform: translateX(60%);
    width: 20%;
}

/*
shut up its responsive enough 
*/