canvas {
  position: fixed;
  top: 0;
  left: 0;

}

.gitHub_button {
  position: absolute;
  bottom: 5%;
  left: 90%;
  width: 5%;
  outline-style: solid;
  outline-color: black;
  outline-width: 10%;
  background-color: white;
  border-radius: 300px;
  opacity: 1;
  transition: all ease-in-out 700ms;
}

.gitHub_button:hover {

  background-color: #60bfff;
  outline-color: rgb(219, 219, 219);
}