canvas {
  position: fixed;
  top: 0;
  left: 0;

}

.gitHub_button {
  transition: all ease-in-out 500ms;
  position: absolute;
  bottom: 5%;
  left: 90%;
  width: 5%;
  outline-style: solid;
  outline-color: black;
  outline-width: 10%;
  background-color: white;
  border-radius: 300px;
}

.gitHub_button:hover {
  transition: all ease-in-out 500ms;
  bottom: 5%;
  left: 85%;
  width: 10%;
}